img {
    width:100%;
    height: 600px;
}

.smallpic {
    height: 120px;
    width: 140px;
}

.tutorial{
    background: #f2f2f2;
    margin-top: 50px;
    display: flex;
    -webkit-box-align: stretch;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-pack: justify;
    justify-content: space-between;
    height: 180px;
    margin-left: 170px;
    margin-right: 160px;
}