<div class="container-fluid bg-footer">
  <div class="row">
    <div id="aboutus" class="col-sm-4">
      <p><strong>About Us</strong></p>
      <br>
      <p>A New Way to Buy and Manage Your Insurance</p>
      <br>
      <p><span class="glyphicon glyphicon-envelope"></span> InsurDoc@hotmail.com</p>
      <p><span class="glyphicon glyphicon-phone"></span> +65 65424565</p>
      <p><span class="glyphicon glyphicon-map-marker"></span> 5 Temasek Blvd, Suntec Tower 5 #07-01 Innovation Lab Singapore 038985</p>
    </div>
    <div id="company" class="col-sm-4">
      <p><strong>Company</strong></p>
      <br>
      <p><a class="white" href="#">About Us</a></p>
      <p><a class="white" href="#">FAQ</a></p>
      <p><a class="white" href="#">Blog</a></p>
    </div>
      <div id="social" class="col-sm-4">
       <a href="#" class="fa fa-facebook"></a>&nbsp &nbsp
          <a href="#" class="fa fa-twitter"></a>&nbsp &nbsp
          <a href="#" class="fa fa-instagram"></a>&nbsp &nbsp
          <a href="#" class="fa fa-linkedin"></a>
    </div>
    <div id="products" class="col-sm-4">
      <p><strong>Products</strong></p><br>
      <p><a class="white" href="#">Health Insurance</a></p>
      <p><a class="white" href="#">Life Insurance</a></p>
      <p><a class="white" href="#">Autocar Insurance</a></p>
      <p><a class="white" href="#">Travel Insurance</a></p>
      <p><a class="white" href="#">Retirement Insurance</a></p>
      <p><a class="white" href="#">Home Insurance</a></p>
	</div>
    <hr>
  </div>
</div>
