{% extends 'homelayout.html' %}
{% block body %}
    <img src="static/images/insurancefamily.jpg" class="insurancefamily">



<!-- Container (About Section) -->
<div class="container-fluid bg-grey">
  <div class="row">
    <div id="chooseus" class="col-sm-8">
      <h2 id="whychooseus">Why Choose Us?</h2>
	  <br>
      <p><strong>Simplicity</strong> - We believe insurance does not have to be complicated - we are here to innovate and keep it simple</p>
	  <p><strong>Transparent</strong> - We uphold the value of transparency - in respect to our insurance solutions and our daily work</p>
	  <p><strong>Driven</strong> - We are driven to make a difference to the insurance industry by implementing positive solutions to benefit both consumers and insurers</p>
	  <p><strong>Excellence</strong> - We want to offer the best insurance experience - that is why we place huge emphasis on listening to your feedback</p>


<br>
<br>
<img src="static/images/trophy.png" class="trophyimg">
<ul class="ul">
<li>People's Choice Awards (2014)</li>
<li>Award Winning Customer Service - Call Centre Association of Singapore (2015)</li>
<li>Award Winning IT Infrastructure - Celent (2017)</li>
<li>Best Contact Centre in Training and People Development: Merit Award</li>
<li>Mystery Caller Assessment: Gold Award (2013)</li>
<li>The Contact Centre for inbound year: Silver Award (2014)</li>
</ul>

	</div>

  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div id="team" class="col-sm-8">
      <h2 id="meet">Meet Our Team!</h2>
        <div class="cofounder">
<img src="static/images/cofounder.jpg" class="cofounderimg">
<br>
<br>
            <br>
<p><strong>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Wei Jie</strong><p>
<p>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Co-Founder/UX/UI &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Designer</p>
</div>
<div class="founder">
<img src="static/images/founder.jpg" class="founderimg">
<br>
<br>
    <br>
<p><strong>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Glendon Ong</strong><p>
<p>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Founder</p>
</div>
<div class="softeng">
<img src="static/images/softeng.jpg" class="softengimg">
<br>
<br>
<p><strong>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Simon Tam</strong><p>
<p>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Software Engineer</p>
</div>
<div class="manager">
<img src="static/images/manager.jpg" class="managerimg">
<br>
<br>
<p><strong>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Bryant Chia</strong><p>
<p>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Marketing Manager</p>
</div>
    </div>
  </div>
</div>

<!-- Container (Services Section) -->
<div class="container-fluid bg-grey text-center">
  <h2>Get Covered</h2>
  <h4>Find the right plan</h4>
  <br>
  <div class="row">
    <div class="col-sm-4">
        <a href="#"><span class="glyphicon glyphicon-user logo-small"></span></a>
      <h4>Life</h4>
    </div>
    <div class="col-sm-4">
        <a href="#"><span class="glyphicon glyphicon-heart logo-small"></span></a>
      <h4>Health</h4>
    </div>
    <div class="col-sm-4">
        <a href="#"><span class="glyphicon glyphicon-road logo-small"></span></a>
      <h4>Autocar</h4>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-sm-4">
        <a href="#"><span class="glyphicon glyphicon-plane logo-small"></span></a>
      <h4>Travel</h4>
    </div>
    <div class="col-sm-4">
        <a href="#"><span class="glyphicon glyphicon-briefcase logo-small"></span></a>
      <h4>Retirement</h4>
    </div>
    <div class="col-sm-4">
        <a href="#"><span class="glyphicon glyphicon-home logo-small"></span></a>
      <h4>Home</h4>
    </div>
  </div>
</div>

<br>
<br>

<h2 id="helped"><i>We've helped 30,000 people with their <br> insurance and they actually enjoyed it!</i></h2>
  <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div id="box1" class="item active">
          <img class="boximg" src="static/images/box1.jpg">
          <h4 class="review">"I have 5 policies from 3 different insurers. It's so hard to manage without a proper system. Now with InsurDoc it's so much simpler" <br><br> <strong>John Sng, <br> Relationship Manager</strong></h4>


      </div>
      <div id="box1" class="item">
          <img class="boximg" src="static/images/box2.jpg">
        <h4 class="review">"The process of signing up was so easy! I got my insurance portfolio reviewed online without meeting the agent" <br><br> <strong>Eugene, <br> Analyst</strong></h4>

      </div>
      <div id="box1" class="item">
          <img class="boximg" src="static/images/box3.jpg">
          <h4 class="review">"InsurDoc helped me realised that I had a missing early critical illness coverage. I'm extremely thankful for this website" <br><br> <strong>Jocelyn, <br> Broker</strong></h4>
      </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

{% endblock %}