{% extends 'mainlayout.html' %}
{% block body %}
    <div class="wrapper">
        <form class="form-signin" action="" method="post">
            <h2 class="form-signin-heading">Please login</h2>
            <input type="text" class="form-control" name="username" placeholder="Username" value="{{
          request.form.username }}" required="" autofocus="" />
            <input type="password" class="form-control" name="password" placeholder="Password" value="{{
          request.form.password }}" required=""/>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        </form>
    {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
    {% endif %}
    </div>
{% endblock %}